body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #ff6600;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 135px;
}

.product img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
}

button-itemdim {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 3px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button-itemaum {
    background-color: #00ff00;
    color: white;
    border: none;
    padding: 3px 8px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button-itemdelete {
    background-color: #000;
    color: white;
    border: none;
    padding: 3px 8px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #cc5500;
}

#limp-end {
    width: 30px;
    height: 30px;
    background-color: #000;
    color: white;
    border: none;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 15px;
}

#limptroco {
    width: 30px;
    height: 30px;
    background-color: #000;
    color: white;
    border: none;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 15px;
}


/* Estilo do popup do carrinho */
#cart-popup {
    position: fixed;
    clip: rect(10px, 360px, 900px, 20px);
    overflow: scroll;
    top: 0;
    right: 0;
    width: 330px;
    height: 100%;
    background: rgb(233, 222, 222);
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: none;
    flex-direction: column;
}

#cart-popup ul {
    list-style: none;
    padding: 0;
}

.hidden {
    display: block;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #000;
    text-decoration: none;
    border-radius: 15px;
}
.btn::after {
    content: "↑";
    font-size: 30px;
    font-weight: bold;
    color: aqua;
    transition: margin-top 250ms;
}
.btn:hover::after {
    margin-top:-8px;
}

.botao {  
    display: inline-block;  
    padding: 0.8em 1.2em;    
    background-color:#0987D2;  
    text-decoration: none;  
    color: #ffffff;
    border-radius:50px;
    font-family:'open_sansregular';  
} 
     
/* .flutuante {  
  display: inline-block;  
  -webkit-transition-duration: 0.4s;  
  transition-duration: 0.4s;  
  -webkit-transition-property: -webkit-transform;  
  transition-property: transform;  
  -webkit-transform: translateZ(0);  
  -ms-transform: translateZ(0);  
  transform: translateZ(0);  
  box-shadow: 0px 4px 2px 0px rgba(98, 98, 98, 0.69);
}  
      
.flutuante:hover {  
  -webkit-transform: translateY(-5px);  
  -ms-transform: translateY(-5px);  
  transform: translateY(-5px);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.69);  
} 

.flutuante::after {
    content: "↑";
    font-size: 30px;
    font-weight: bold;
    color: aqua;
    transition: margin-top 250ms;
} */