body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #ff6600;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
}

.product img {
    width: 100%;
    height: 120px;
    border-radius: 5px;
}

button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button-itemdim {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 3px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}


button-itemaum {
    background-color: #00ff00;
    color: white;
    border: none;
    padding: 3px 8px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #cc5500;
}

/* Estilo do popup do carrinho */
#cart-popup {
    position: fixed;
    clip: rect(10px, 360px, 900px, 20px);
    overflow: scroll;
    top: 0;
    right: 0;
    width: 330px;
    height: 100%;
    background: white;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: none;
    flex-direction: column;
}

#cart-popup ul {
    list-style: none;
    padding: 0;
}

.hidden {
    display: block;
}
